<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <div class="form-group">
                        <label for="usr">Search:</label>
                        <input type="text"  placeholder="Search User" class="form-control" style="width: 25%;" ng-model="attribute">
                    </div>
                    <button class="btn btn-success" ng-click="fetchNextPage()" style="
    position: absolute;
    right: 137px;
    top: 189px;
">Next Page</button>
 <button class="btn btn-success" ng-click="fetchPreviousPage()"  style="
    position: absolute;
    right: 237px;
    top: 189px;
">Previous Page</button>
 <button class="btn btn-danger" ng-click="excelGenerationFunc()"  style="
    position: absolute;
    top: 189px;
    right: 363px;
">Download as Excel</button>
<table  id="usertbl" class="table table-hover table-bordered" style="
 position: relative;
">
  <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>gender</th>
        <th>state</th>
        <th>zip</th>
        <th>email</th>
        <th>mobile</th>
         <th>Delete</th>
      </tr>
     
  <tr ng-repeat="x in users | filter:attribute">
    <td>{{ x.fName }}</td>
    <td>{{ x.lName }}</td>
    <td>{{ x.gender }}</td>
    <td>{{ x.state }}</td>
    <td>{{ x.zip }}</td>
    <td>{{ x.email }}</td>
    <td>{{ x.mobile }}</td>
    <td><button class="btn btn-danger" ng-click="clickFunc(x.email)">Delete Customer</button></td>
  </tr>
   
</table>

</body>
</html>